<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs')%>

</head>

<body>
    <%- include ('../partials/navbar.ejs')%>
        <header class="Header-Home">

            <div class="container">
                <div class="Text-Home">
                    <h1>Clean Blog</h1>
                    <h3>A Blog Theme by Start Bootstrap</h3>
                </div>

            </div>

        </header>

        <section>
            <div class="container">
                <div class="info-Home">

                    <h2><a href="">Man must explore, and this is exploration at its greatest
                            Problems look mighty small from 150 miles up
                        </a></h2>
                    <p>Posted by Start Bootstrap on September 24, 2023</p>

                    <hr>

                    <h2><a href="">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        
                        </a></h2>
                    <p>Posted by Start Bootstrap on September 18, 2023</p>

                    <hr>

                    <h2><a href="">Science has not yet mastered prophecy
                        We predict too much for the next year and yet far too little for the next ten.
                      
                    </a></h2>
                <p>  Posted by Start Bootstrap on August 24, 2023</p>

                
                </div>

            </div>
        </section>

        <%- include ('../partials/footer.ejs')%>
</body>

</html>